@font-face {
  font-family: 'CircularStd-Bold';
  src: url('../fonts/CircularStd-Bold.eot');
  src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/CircularStd-Bold.woff2') format('woff2'),
       url('../fonts/CircularStd-Bold.woff') format('woff'),
       url('../fonts/CircularStd-Bold.ttf') format('truetype'),
       url('../fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
}


//new variables
$border-color: #B1666E;
$inactive-color: #FFCFD4;

//customised variables
$icon-font-path: "../lib/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path:   "../lib/font-awesome/fonts/";
//Variables

$gray-base:              #FFF !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:        #EF8B95;
$brand-success:         #FA70BD;
$brand-info:            #EEFF05;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
$body-bg:               #000;
$navbar-inverse-bg: black;
$navbar-height:                    70px;
$grid-gutter-width:         30px;


$font-family-sans-serif:  "CircularStd-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

@import "../lib/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../lib/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../lib/font-awesome/scss/font-awesome";
@import "./bootstrap-custom.scss";
//Styles

html,
body {
  margin: 0;
  height: 100%;
  background-color:black;

  .large{
    font-size:18px;
  }
}

@mixin transition($property, $duration:0.5s, $func:ease){
  -webkit-transition-duration:$duration;
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;

  -moz-transition-timing-function:    $func;
   -o-transition-timing-function:      $func;
   -webkit-transition-timing-function: $func;
   transition-timing-function:         $func;

  -moz-transition-property:    unquote($property);
   -o-transition-property:      unquote($property);
   -webkit-transition-property: unquote($property);
   transition-property:         unquote($property);
}

.full-screen {
  height: 100%;
}

.highlight{
  color: $brand-info;
}

header {
  position: fixed;
  right: 0;
  width:100%;
  top: 0px;
  z-index:10000;
  .navbar.navbar-inverse{
    @include transition('background, border');
    border-bottom-color:$border-color;
    border-bottom-style: solid;
    border-width:0 0 2px;
    font-size:15px;
    font-weight:bold;

    .navbar-toggle{
      background: transparent;
      border: none;
    }
    .navbar-collapse{
      width:100%;
      &.collapse.in, &.collapsing{
        border-top-width:2px;
        border-top-style: solid;
        border-top-color: $border-color;
      }
      a span{
        padding-bottom:5px;
      }
      a:hover span, a.active span{
        border-bottom: 2px solid white;
      }
    }
  }
  .logo-container{
    @extend .navbar-brand;
    @extend .col-sm-3;
    // margin-left: 0px !important;
    .nav-logo{
      opacity:1;
      // position:absolute;
      height:80px;//73px;
      margin-top:-19px;
      &.hide-logo{
        opacity:0;
      }
    }
  }
}

.transparent-header{
  header {
    .navbar.navbar-inverse{
      &, .navbar-collapse{
        @include transition('background, border, height');
        background: transparent;
        border-color: transparent;
      }
      .navbar-collapse.collapse.in{
        background-color:rgba(0, 0, 0, 0.5);
      }
    }
  }
}

section {
  position:relative;
  // background: black;
  padding: 100px 0 100px;
  .container{
    padding: 0 25px;
  }
  .section-title{
    @extend .col-sm-3;
    padding-bottom: 40px;
    font-weight: bold;
    font-size:15px;
    // padding-left: 35px;
  }
  .section-content{
    @extend .col-sm-9;
    font-size:18px;

    &.lineup-content{
      padding-left:0;
      .lineup-sub-title{
        width:calc(100%-30px);
        border-bottom:2px solid $brand-primary;
        padding-bottom: 10px;
        clear:both;
        margin: 0 15px 20px;
        &:not(:first-child){
          padding-top:40px;
        }
      }
      a.lineup-artist{
        @extend .col-sm-4;
        @extend .col-xs-6;
        color:white;
        float:left;
        margin-bottom: 24px;
        img{
          width:100%;
        }
        .name{
          width:100%;
          border-top:2px solid $brand-primary;
          margin-top:9px;
          padding-top: 5px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }

    .sub-section{
      .sub-section-title{
        font-size:20px;
        margin:40px 0 10px;
        border-bottom: 1px solid white;
        padding:2px;
        font-weight:bold;
        // text-decoration: underline;
      }
      .sub-section-content{
        padding:8px 12px;
      }
    }

  }

  &#sponsors{
    padding:0 0 50px 20px;

    .section-content{
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // text-align: center;
      a{
        text-decoration: none;
      }
      img{
        width:100px;
        margin-top:20px;
        &.id{
          width:60px;
          margin: 20px 20px 0;
        }
      }
    }
  }

  &#tickets{
    background-color:$brand-primary;
    a{
      color:$brand-info;
    }
    .tickets-banner{
      .tickets-banner-filler{
        @extend .col-sm-3;
      }
      img{
        margin-bottom:30px;
        max-width:100%;
      }
    }
    button{
      padding:20px 50px;
      background-color: white;
      color: $brand-primary;
      border:none;
      margin: 60px 0 0;
    }

    .room-info{
      .well-container{
        margin-top:20px;
        .well{
          background-color:black;
          color:$brand-primary;
          table{
            font-size:15px;
            border-bottom: 1px solid white;
            ul{
              padding-left: 15px;
            }
          }
        }
      }
    }
  }

  &#location{
    .location-text{
      // padding-top: 80px;
    }
    .location-img{
      width:100%;
      margin:20px 0;
    }
  }

  &#info{
    .section-content{
      font-size:16px;
      .sub-section{

        .sub-section-title{
          color: $brand-primary;
          font-size:18px;
          // &:first-child{
            // margin-top:0;
          // }
        }
      }
      .info-sub-heading{
        color: $brand-warning;
        font-size: 18px;
        margin: 20px -10px 10px;
        &:first-child{
          margin-top:0px;
        }
      }
      ul{
        padding-left: 10px;
        li{
          padding:3px;
        }
      }
      p{
        padding:5px 8px;
        line-height: 25px;
      }
    }
  }

  &.artist{
    .details{
      @extend .col-sm-offset-3;
      @extend .col-sm-9;
      .artist-photo{
        margin-bottom:30px;
        img{
          width:100%;
        }
      }
      .artist-name{
        font-size:64px;
        margin-bottom:30px;
      }
    }
    .artist-embed{
      margin-top:20px;
      @extend .col-sm-offset-3;
      .embedly-card-hug{
        margin-left: -20px !important;
      }

      &.video {
        float: none;
        clear: both;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
      }
      &.video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

    }
  }

  .bus-info, .table-container{
    margin-top:10px;
    margin-bottom: 10px;
    a{
      color: $brand-info;
    }
    .well-container{
      margin-top:20px;
      .well{
        background-color:$brand-primary;
        color:white;
        table{
          font-size:15px;
          border-bottom: 1px solid white;
          ul{
            padding-left: 15px;
          }
        }
      }
    }
  }
}

.location-banner{
  position:relative;
  background-image: url('../images/location-banner.png');
  width:100vw;
  margin-left:-20px;
  height:50vh;
  background-size:cover;
  margin-bottom:80px;
  vertical-align: bottom;
  display: table-cell;
  img{
    @extend .col-sm-offset-3;
    // position:absolute;
    // left:27%;
    max-width: 80%;
  }
  img.location-banner-title{
    // bottom: 10px;
    // display:none;
    margin-bottom:-20px;
  }
  img.location-banner-ripple{
    margin-bottom:-57px;
  }

  // .location-banner-text{
  //   font-weight:bold;
  //   font-size:70px;
  //   position:absolute;
  //   bottom: 10px;
  // }
}

.home{
  background-image:url('../images/bg.png');
  background-repeat:no-repeat;
  background-size: cover;
  .logo-img{
    position:absolute;
    left:10%;
    top:calc(50% - 81px);
    height:167px;
  }
}
.home-container{
  height:100%;
  z-index:1;
}
.about{
  border-top:1px solid $brand-primary;
  z-index:20;
  background-color:black;
  .down-arrow{
    position:absolute;
    top:-50px;
    left:calc(50% - 39px);
  }
  .ripple{
    position:absolute;
    left:calc(10% - 10px);
    top:0;
  }
}

#menu-helper{
  position: absolute;
  visibility: hidden;
  top:0;
}

footer{
  background-color: $brand-primary;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  padding:40px;
  height: 100px;
  color:white;
  .copyright{
    font-weight: bold;
    float:left;
  }
  .social-media{
    float:right;
    a{
      margin-right:18px;
      color:white;
    }
  }
}


.map-overlay{
  background:transparent;
  position:relative;
  width:100%;
  height:400px; /* your iframe height */
  top:400px;  /* your iframe height */
  margin-top:-370px;  /* your iframe height */
}

.map-container{
  margin-bottom:30px;
}
// .nav-icon{
//   border-radius:50%;
//   background-color: white;
//   i{
//     width:30px;
//     height:30px;
//     &:before{
//       opacity:0;
//       position:absolute;
//     }
//   }
// }


ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
}
ul.dashed > li:before {
  margin-right:10px;
  content: "-";
}


.inactive{
  color:$inactive-color;
}

.strikethrough{
  text-decoration: line-through;;
}

//MEDIA QUERY SPECIFIC STUFF
@media (max-width: $screen-xs-max) {
  section#location .location-banner{
    img{
      left:40px;
      max-width: 80%;
    }
  }

  section#tickets{
    .room-info{
      .table-responsive{
        table{
          min-width:700px;
          td{
            width:auto;
            display:table-cell;
            white-space: normal; /* css-3 */
            white-space: -moz-normal; /* Mozilla, since 1999 */
            white-space: -normal; /* Opera 4-6 */
            white-space: -o-normal; /* Opera 7 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
          }
        }
      }
    }
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-lg-min) {

}
