$icon-font-path: "../lib/bootstrap-sass/assets/fonts/bootstrap/";

//Variables

$gray-base:              #FFF !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         lighten(#FA70BD, 6.5%); // #337ab7
$brand-success:         #FA70BD;
$brand-info:            #F7FFC7;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
$body-bg:               #000;

@import "../lib/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../lib/bootstrap-sass/assets/stylesheets/bootstrap";
@import "./bootstrap-custom.scss";
//Styles

html,
body {
  margin: 0;
  height: 100%;
}

.full-screen {
  height: 100%; /* makes panels the entire window height */
  background-color:blue;
}

header {
  position: fixed;
  right: 0;
  width:100%;
  top: 0px;
  z-index:10000;
}

section {
  border-bottom:1px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #EFEFEF;
}
